<div class="methodology">
  <% if @user.methodologies.empty? %>
    <p>Não há metodologias cadastradas.</p>
  <% else %>
    <% @user.methodologies.each do |methodology| %>
      <h3><%= link_to "#{methodology.title}", methodology_path(methodology) %></h3>
      <p><%= rating_for methodology, "qualidade", star: 5 %></p>
      <p>
        <%= methodology.teaser %>
      </p>
      <% if current_user == @user %>
        <p>
          <%= link_to "Editar", edit_methodology_path(methodology), class: "btn btn-primary"  %>
          <%= link_to 'Remover', methodology, class: "btn btn-danger", data: {confirm: 'Você tem certeza?'}, method: :delete %>
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>