<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'jquery.raty.js','letsrate.js'%>
<% end %> 
<div class="container">
  <h1>Meu Perfil</h1>

  <div class="row">
    <div class="col-lg-5">
      <div class="data">
        <h2>Meus dados</h2>
        <%= image_tag @user.avatar(:profile) %>
        <%= "#{@user.first_name} #{@user.last_name}" %>

        <div class="user-schools">
          <h2>Escolas em que jรก lecionou</h2>
          <% @user.schools.each do |school| %>
            <p><%= school.name %></p>
          <% end %>
        </div>
      </div>
      <h2>Minhas metodologias</h2>
      <%= render partial: 'methodologies' %>
      <%= render partial: 'friends' %>
    </div>
    <div class="col-lg-3 feeds">
      <h2>Meus feeds</h2>
    </div>
  </div>
</div>