<div class="container">
  <h1>Meu Perfil</h1>

  <div class="row">
    <div class="col-lg-5">
      <div class="data">
        <h2>Meus dados</h2>
        <%= "#{@user.first_name} #{@user.last_name}" %>
      </div>
      <h2>Minhas metodologias</h2>
      <div class="methodology">
        <% if @user.methodologies.empty? %>
          <p>Não há metodologias cadastradas.</p>
        <% else %>
          <% @user.methodologies.each do |methodology| %>
            <h3><%= link_to "#{methodology.title}", methodology_path(methodology) %></h3>
            <p>
              <%= methodology.content.html_safe %>
            </p>
            <p>
              <%= link_to "Editar", edit_methodology_path(methodology), class: "btn btn-primary"  %>
              <%= link_to 'Remover', methodology, class: "btn btn-danger", confirm: 'Você tem certeza?', method: :delete %>
            </p>
          <% end %>
        <% end %>
      </div>
      <div class="friends">
        <h2>Meus amigos</h2>
        <% @user.friendships.each do |friendship| %>
          <p>
            <%= link_to "#{friendship.friend.first_name}", profile_path(friendship.friend) %> - 
            <%= link_to "Remover amigo", friendship, method: :delete, confirm: "Tem certeza que deseja remover amigo?" %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3 feeds">
      <h2>Meus feeds</h2>
    </div>
  </div>
</div>