<h1>User profile</h1>

<div class="row">
  <div class="col-lg-4">
    <h2>Meus dados</h2>
    <%= "#{@user.first_name} #{@user.last_name}" %>
  </div>
  <div class="col-lg-8">
    <% if @search %>
      <% @search.each do |result| %>
        <p>
        <%= link_to "#{result.title}", methodology_path(result) %> by 
        <%= link_to "#{result.user.first_name}", profile_path(result.user.id) %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 metodologies">
    <h2>Minhas metodologias</h2>
    <% if @user.methodologies.empty? %>
      <p>Não há metodologias cadastradas.</p>
    <% else %>
      <% @user.methodologies.each do |methodology| %>
        <p>
          <%= link_to "#{methodology.title}", methodology_path(methodology) %> - 
          <%= link_to "Editar", edit_methodology_path(methodology), class: "btn btn-primary"  %>
          <%= link_to 'Remover', methodology, class: "btn btn-danger", confirm: 'Você tem certeza?', method: :delete %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h2>Meus amigos</h2>
      <% @user.friendships.each do |friendship| %>
        <p><%= link_to "#{friendship.friend.first_name}", profile_path(friendship.friend) %></p>
      <% end %>
  </div>
</div>

<%= link_to 'Criar Metodologia', new_methodology_path %>