<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="data">
        <h2>Meus dados</h2>
        <%= image_tag @user.avatar(:profile) %>
        <span><%= @user.full_name %></span>

        <div class="user-schools">
          <h2>Escolas em que jรก lecionou</h2>
          <% @user.schools.each do |school| %>
            <p><%= school.name %></p>
          <% end %>
        </div>
        <div class="user-friends">
          <div class="user-friends-content">
            <h2>Meus amigos</h2>
            <%= render partial: 'shared/friends' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <h2>Minhas Metodologias</h2>
      <%= render partial: 'shared/methodologies' %>
    </div>
    <div class="col-lg-4 feeds">
      <h2>Feeds</h2>
      <div class="feeds-content">
        <%= render partial: 'feeds' %>
      </div>
    </div>
  </div>
</div>
