<div class="container">
    <div class="row">
        <% if @search.present? %>
          <% @search.each do |result| %>
            <div class="col-lg-1">
                <%= image_tag result.user.avatar(:search_thumb) %>
            </div>
            <div class="col-lg-11">
                <%= link_to "#{result.title}", methodology_path(result) %> by 
                <%= link_to "#{result.user.full_name}", profile_path(result.user.id) %> - 
                <%= rating_for result, "qualidade", star: 5 %>
                <%= "#{result.content}" %>
            </div>
          <% end %>
        <% else %>
            Nenhum resultado.
        <% end %>
    </div>
</div>
