<h1>Listing methodologies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @methodologies.each do |methodology| %>
      <tr>
        <td><%= methodology.title %></td>
        <td><%= methodology.content %></td>
        <td><%= methodology.user_id %></td>
        <td><%= link_to 'Show', methodology %></td>
        <td><%= link_to 'Edit', edit_methodology_path(methodology) %></td>
        <td><%= link_to 'Destroy', methodology, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Methodology', new_methodology_path %>
