<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @methodology.title %>
</p>

<p>
  <strong>Conteúdo:</strong>
  <%= @methodology.content %>
</p>

<p>
  <strong>Autor:</strong>
  <%= "#{@methodology.user.first_name} #{@methodology.user.last_name}" %>
</p>

<%= link_to 'Voltar', my_profile_path %>
